:root {
  --main-bg-color:rgba(219, 226, 239, 1.0);
  --font-color:rgba(249, 247, 247, 1.0);
  --light-blue:rgba(64, 115, 175, 1.0);
  --dark-blue-blur:rgba(18, 46, 80, .6);
  --dark-blue: rgba(18, 46, 80, 1.0);
  --modal-color:rgba(179, 199, 223, .8);
  --lightest-blue-blur:rgba(179, 199, 223, .6);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  height: fit-content;
  width: fit-content;
}
body {
  margin: auto;
  background: url('./images/background.webp') no-repeat right 33% bottom 65%/100%;
  -webkit-backdrop-filter: blur(3px) grayscale(60%);
  backdrop-filter: blur(3px) grayscale(60%);
  overflow: visible;
}
.greeting{
  color: aliceblue;
}
.mainContent h1 {
  margin: 1em;
}
ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}
.header, .footer {
  font-size: 2rem;
  text-align: center;
  background-color: var(--lightest-blue-blur);
  color: var(--dark-blue);
  backdrop-filter: blur(1px);
}
.footer{
  background-color: var(--dark-blue);
  color: var(--font-color);
}
li {
  margin: 1em;
  list-style: none;
}
div.taskContainer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border: 2px solid var(--lightest-blue-blur);
  background-color: var(--lightest-blue-blur);
  border-radius: 10px;
  margin: 1rem;
}
div.taskDivLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  margin: 3px;
}
div.taskDivRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3px;
}
.taskHeading{
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
input, select{
  border: none;
  opacity: 0.7;
}
#taskSubmit {
  margin: 2em;
  border: thin solid black;
  background-color: var(--main-bg-color);
  border-radius: 10%;
}

label{
  padding: 5px;
}
.gridContainer {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  border: 2px solid (0,0,0,.4);
  transition: 1s ease;
}
.sidebar {
  align-content: center;
  backdrop-filter: blur(5px);
  width: 15rem;
  height: 100%;
  padding: 2rem 0rem 0rem 1rem;
  background: linear-gradient(135deg, var(--dark-blue-blur) 40%, var(--dark-blue) 70%);
  transition: 1s ease;
  position: relative;
}
.mainContent {
  width: auto;
  height: 100%;
  transition: 1s ease;
}
.main-content_large {
  width: 100%;
}
.sidebar_small {
  width: 2rem;
  background-color: var(--dark-blue);
}
button#disappearSidebar, button#modalBtn {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
  left: 100%;
  top: 2rem;
  background-color: var(--font-color);
  transform: translateX(-50%);
  cursor: pointer;
}
button#modalBtn {
  top: 5rem;
}
.formDisplay {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: var(--dark-blue);
  background-color: rgba(0,0,0,0.5);
}

#taskForm {
  background-color: var(--modal-color);
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  border-radius: 25px;
}

.close,
.taskDelete {
  color: var(--dark-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.taskDelete {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
